@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                Hello, @UserManager.GetUserName(User)!
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Profile">
                        Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="History">
                        Transaction History
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Marketplace" asp-action="Sell">
                        Sell a Book
                    </a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <form asp-area="" asp-controller="User" asp-action="Logout" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="dropdown-item w-100 text-start">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
    }
</ul>
